.bubble {
  display: block;
  opacity: 0.3;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  border: 1px solid rgb(254, 214, 127);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

@keyframes yMove {
  100% {
    bottom: 110%;
  }
}

@keyframes xMove {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-100px);
  }
}