@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&display=swap');

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(225,249,255);
  background: linear-gradient(0deg, rgba(225,249,255,1) 0%, rgba(182,243,255,1) 100%);
  user-select: none;
}

section.title {
  position: fixed;
  top: 45%;
  left: 50%;
  font-family: "TheJamsil5Bold";
  letter-spacing: -0.02em;
  text-shadow: 0px 4px 34px rgba(0,0,0,0.5);
  color: #fff;
  transform: translate(-50%, -50%) scale(0) rotate(20deg);
  transform-origin: center center;
  animation: titleAppear 1s 2.5s forwards,
    titleFloating 2s 4s infinite alternate;
  z-index: 3;
  opacity: 0;
  transition: transform 0.5s;
}

section.title h1 {
  font-size: 16vw;
}

section.title h2 {
  font-family: 'Jua';
  font-size: 4vw;
  color: #000;
  text-align: center;
}

@keyframes titleAppear {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes titleRemove {
  0% {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -60%) scale(0);
  }
}

@keyframes titleFloating {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -70%);
  }
}

section.title h1 em {
  font-size: 8vw;
  color: rgb(255, 196, 0);
  -webkit-text-stroke: 0.3vw #fff;
}

section.start-btn-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  position: fixed;
  bottom: 15vh;
  left: 50%;
  z-index: 3;
  opacity: 0;
  animation: buttonApper 1s 2.5s forwards;
  overflow: hidden;
  transition: transform 0.5s;
}

section.start-btn-wrapper:hover {
  transform: translateX(-50%) scale(2);
}

@keyframes buttonApper {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 1;
  }
  80% {
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes buttonRemove {
  0% {
    transform: translateX(-50%) scale(1);
  }
  20% {
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) scale(0);
  }
}

section.start-btn-wrapper .start-btn {
  width: 100%;
  height: 100%;
  background-image: url("../src/image/start-button.png");
  background-size: contain;
  position: relative;
  z-index: 2;
}

section.start-btn-wrapper .start-btn:hover {
  cursor: pointer;
}

section.start-btn-wrapper .start-btn-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(255,214,0,1) 24%, #f6c101 100%);
  transition: bottom 0.5s;
}

section.start-btn-wrapper:hover .start-btn-backdrop {
  bottom: 0;
}

.icons {
  position: fixed;
  bottom: 5vh;
  right: 10vh;
  z-index: 5;
}

.icons .icons-list {
  display: flex;
}

.icons .icons-list li {
  color: #fff;
  font-size: 3vw;
  opacity: 0.4;
  margin-left: 30px;
  transition: transform 0.5s;
}

.icons .icons-list li:hover {
  opacity: 0.7;
  transform: scale(1.3);
  cursor: pointer;
}
@media (max-width: 800px) {
  section.title {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(20deg);
    transform-origin: center center;
    animation: titleAppear 1s 2.5s forwards,
      titleFloating 2s 4s infinite alternate;
    transition: transform 0.5s;
  }

  @keyframes mobileTitleAppear {
    
  }

  section.title h1 {
    font-size: 24vw;
  }
  
  section.title h2 {
    font-size: 6vw;
  }

  section.start-btn-wrapper {
    width: 100px;
    height: 100px;
  }

  @keyframes fill {
    100% {
      bottom: -3%;
    }
  }

  .icons {
    bottom: 3vh;
    right: 5vh;
  }

  .icons .icons-list {
    display: flex;
  }

  .icons .icons-list li {
    color: #fff;
    font-size: 8vw;
    margin-left: 20px;
  }
}