@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&display=swap');

.test-wrapper {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  word-break: keep-all;
  z-index: 4;
}


.test-wrapper .question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-family: "Jua";
  font-size: 4vw;
  color: #fff;
  -webkit-text-stroke: #000 2px;
}


.test-wrapper .options {
  display: flex;
  justify-content: space-around;
}

.test-wrapper .options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  aspect-ratio: 1/1;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 15%;
  padding: 2%;
  transition: background-color 0.5s;
  box-shadow: 1px 10px 41px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 10px 41px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 10px 41px 2px rgba(0,0,0,0.2);
  animation: optionAppear 0.5s ease-in-out forwards;
}

@keyframes optionAppear {
  0% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.test-wrapper .options .option:hover {
  background-color: rgba(0, 0, 0, 0.472);
  color: #fff;
}

.test-wrapper .options .option p {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  font-size: 3vw;
}


@media (max-width: 1000px) {
  .test-wrapper {
    height: calc(100vh - 20vw);
    margin: 10vw 2.5vw;
  }

  .test-wrapper .question {
    height: 15vh;
    font-size: 10vw;
    -webkit-text-stroke: #000 1px;
  }

  .test-wrapper .options {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .test-wrapper .options .option {
    width: 60%;
  }

  .test-wrapper .options .option p {
    font-size: 28px;
  }
}